{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/home_page.css' %}">


<div class="home">
    <!-- Hero Section with Video Background -->
    <div class="hero">
        {% if page.heroSectionVideo %}
            <video autoplay loop muted playsinline>
                <source src="{{ page.heroSectionVideo.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        {% endif %}
        <div class="hero-content">
            {{ page.heroText }}
        </div>
    </div>

    <!-- Intro Section -->
    <div class="intro-section">
        <!-- <h1>Los Angeles International Youth Film Festival</h1> -->
        <p>{{ page.introText }}</p>
    </div>

    <!-- Accordion Section -->
    <div class="accordion-container" style="margin-bottom: 50px; margin-top: 50px;">
        <div class="accordion" id="accordionFlushExample">
            {% for title, content in page.get_accordion_pairs %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="flush-collapse{{ forloop.counter }}">
                            {{ title }}
                        </button>
                    </h2>
                    <div id="flush-collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            {{ content|richtext }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- film display section -->
    <div class="film-display">
      {% for film in page.films %}
        {{ film }}
      {% endfor %}
    </div>
</div>

{% endblock %}
