.custom-carousel {
    max-height: 500px;
    /* or try height: 60vh; */
    overflow: hidden;
}

.custom-carousel img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.hero-title {
    font-size: 3rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.intro-section {
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.intro-section h1 {
    padding-bottom: 25px;
}

.intro-section p {
    font-size: 25px;
}

.content-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
}

.accordion-container {
    width: 60%;
    margin: 0 auto;
}

.accordion-button {
    font-size: 20px;
    font-weight: bold;
}

.accordion-body {
    font-size: 18px;
    line-height: 1.6;
}

.film-display {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
    width: 60%;
}