{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<style>
    .form-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 25%;
        padding-right: 20%;
    }

    .form-group {
        margin-top: 15px;
        margin-bottom: 10px;
    }
</style>
<div class="form-container">
    <h1>{{ page.title }}</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if user.is_authenticated and user.is_active or request.is_preview %}
        {% if form %}
            <div>{{ page.intro|richtext }}</div>

            <form action="{% pageurl page %}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label class="form-label">{{ field.label }}</label>
                        {{ field }}  {# This will now have class="form-control" #}

                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}

                        {% if field.errors %}
                            <div class="text-danger">
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        {% else %}
            <div>You can fill in the form only one time.</div>
        {% endif %}
    {% else %}
        <div>To fill in the form, you must log in.</div>
    {% endif %}
</div>

{% endblock %}